body{
    margin: 0;
}
h1{
font-size: 50px;
}
.colour{
color: chocolate;
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none ;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.first-sec-img{
    background-image: url(5.png);
    background-repeat: no-repeat;
}
.secend-sec-img{
    background-image: url(3.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp-items{
box-shadow: 10px 10px 15px gray;
width: 50%;
    padding: 20px;
    margin: 5%;
    border-radius: 10px;
}
.Exp{
    background-image: url(4.png);
    background-repeat: no-repeat;
    
}
#Exp-one{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;}
    #Exp-two{
        border-left: 8px solid;
        border-image: linear-gradient(tomato, orange);
        border-image-slice: 1;}
        #Exp-three{
            border-left: 8px solid;
            border-image: linear-gradient(red, rgb(255, 0, 200));
            border-image-slice: 1;}
            footer p{
                text-align: center;
            }